$image-theme-path-base  :'../../../images/';
$font-path              : '../../../fonts/';
$woo-font-path          : '../../../fonts/woocommerce/';
$theme-color            : #79AF33;
$link-hover-color: 		#79AF33;