#tico_meta_box > .inside{
   padding: 0;
   margin: 0;
}
.gva-meta-tabs{
   width: 100%;
   display: table;
   overflow: hidden;
}
.gva-meta-tabs #gva-meta-box-tabs-list{
   width: 19%;
   float: left;
   clear: left;
   position: relative;
   margin: 0;
}
.gva-meta-tabs #gva-meta-box-tabs-list:after{
   background: #f2f2f2;
   position: absolute;
   top: -20px;
   left: 0;
   height: 1200px;
   width: 100%;
   content: "";
   z-index: 1;
   border-right: 1px solid #e6e6e6;
}
.gva-meta-tabs #gva-meta-box-tabs-list > li{
   margin: 0;
   position: relative;
   z-index: 99;
}
.gva-meta-tabs #gva-meta-box-tabs-list > li a{
   display: block;
   padding: 10px;
   background: #f2f2f2;
   text-decoration: none;
   box-shadow: none!important;
   border-bottom: 1px solid #e6e6e6;
}
.gva-meta-tabs #gva-meta-box-tabs-list > li a.active{
   background: #FFF;
}
#gva-meta-tabs-boxes{
   width: 80%;
   float: right;
}
#gva-meta-tabs-boxes > div{
   border: 0!important;
   box-shadow: none;
}
#gva-meta-tabs-boxes .handlediv, #gva-meta-tabs-boxes h3.hndle{
   display: none;
}

.redux-image-select{
   width: 100%;
}

.redux-image-select{
   width: 100%;
}

/* Mega menu */
.menu-megamenu {padding: 10px;margin-left: -10px;margin-top: -10px;background: #eee;border-bottom: 1px solid #bbb;}
.menu-megamenu-title {color: #333;margin: 0 0 10px;}

.menu-megamenu-handle,
.menu-megamenu-handle-sub {font-size: 12px;margin-right: 10px;float: left;line-height: 20px;background: #cb1117;padding: 0 5px;border-radius: 3px;color: #ffffff;display: block;}

.menu-megamenu-handle-sub {background:#dbd925;}
.menu-item-depth-1 .menu-megamenu-handle-sub {background:#8130dd;}
.menu-item-depth-2 .menu-megamenu-handle-sub {background:#04caa2;}
.menu-item-depth-3 .menu-megamenu-handle-sub {background:#15a7d1;}

.menu-megamenu-handle i {margin-right:5px;font-size:14px;}

.menu-megamenu-megaimgenable .description {display:block;}

.menu-megamenu,
.menu-megamenu-enable,
.menu-megamenu-direction,
.menu-megamenu-handle,
.menu-megamenu-handle-sub,
.menu-megamenu-megashorttitle,
.menu-megamenu-megaimgenable,
.menu-megamenu-megacolumns{display:none;}

.menu-item-depth-0 .menu-megamenu,
.menu-item-depth-0 .menu-megamenu-enable,
.megamenu-enabled.menu-item-depth-0 .menu-megamenu-handle,
.menu-item-depth-0 .menu-megamenu-megacolumns,
.menu-item-depth-0 .menu-megamenu-direction {display:block;}

.menu-item-depth-0 .menu-megamenu-megacolumns{display: block;}

.sub-megamenu-enabled.menu-item-depth-1 .menu-megamenu-megaicon{display:block;}
.sub-megamenu-enabled.menu-item-depth-2 .menu-megamenu-megaicon{display:block;}

.sub-megamenu-enabled .menu-megamenu,
.sub-megamenu-enabled .menu-megamenu-handle-sub,
.sub-megamenu-enabled .menu-megamenu-megashorttitle{display:block;}


.rtl .menu-megamenu-handle, .rtl .menu-megamenu-handle-sub {float: right;margin-left: 10px;margin-right: 0;}
.rtl .menu-megamenu-direction {float:right;width:100%}
.rtl .menu-megamenu-direction label {float:right;margin-left:10px;}
.rtl .menu-megamenu {margin-left: 0;margin-right: -10px;}

.width-75{width: 75%;}

.menu-item-settings{
   float: left;
}

.redux-field .theme-browser .theme .theme-actions, .redux-field .theme-browser .theme.active .theme-actions{top: 92%;}
.redux-main input.color-transparency{margin-left:0 !important;}
.redux-main .color-transparency-check{line-height: 2!important;}