.gsc-career{
   border: 1px solid $border-color;
   display: table;
   width: 100%;
   .image-box{
      width: 180px;
      text-align: center;
      padding: 10px 20px;
      display: table-cell;
      vertical-align: middle;
      @include media-breakpoint-down(md){
         width: 100px;
         padding: 30px 30px 0;
         text-align: left;
      }
      @include media-breakpoint-down(sm){
         display: block;
         width: 100%;
      }
   }
   .box-content{ 
      display: table-cell;
      padding: 25px;
      border-left: 1px solid $border-color;
      @include media-breakpoint-down(sm){
         display: block;
         width: 100%;
      }
      .title{
         font-size: 18px;
         font-weight: 600;
      }
      .job-type{
         font-size: 11px;
         text-transform: uppercase;
         font-weight: 500;
         color: $white;
         background: $theme-color;
         margin-bottom: 15px;
         display: inline-block;
         letter-spacing: 1px;
      }
      .box-information{
         font-size: 13px;
         padding-top: 15px;
         margin-top: 15px;
         border-top: 1px solid $border-color;
         ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
               float: left;
               margin-right: 30px;
               &:last-child{
                  margin-right: 0;
               }
               .icon{
                  margin-right: 6px;
               }
            }
         }
      }
   }
}