// Star
// -------------------------
$star-rating-color                      : $black !default;
$star-rating-active-color               : #FFD20F !default;
$star-rating-font-size                  : 9px !default;

// Sale
// -------------------------
$sale-label-font-size                   : 10px !default;
$sale-label-font-weight                 : 800 !default;
$sale-label-transform                   : uppercase !default;
$sale-label-bg                          : #F64444 !default;
$sale-label-color                       : $white !default;
