body{
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.9;
}

a, button{
  &:hover, &:active, &:focus{
    outline: none;
    @include transition(all 0.35s);
    text-decoration: none;
    cursor: pointer;
  } 
}
a{
  @include hover {
    color: $theme-color;
  }
  &.dropdown-toggle{
    &:after{
      display: none;
    }
  }
}
h1, h2, h3, h4, h5, h6{
  letter-spacing: -0.6px;
  margin-top: 15px;
  margin-bottom: 20px;
}
// images, video
//---------------------------------
img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.video-responsive {
	height        : 0;
	padding-top   : 0;
	padding-bottom: 56.25%;
	margin-bottom : 10px;
	position      : relative;
	overflow      : hidden;
	embed,iframe,object,video{
		top     : 0;
		left    : 0;
		width   : 100%;
		height  : 100%;
		position: absolute;
	}
}

input[type="text"], 
input[type="tel"],
input[type="password"],
input[type="email"],
textarea, select{
  background-color: #fff;
  @include box-shadow(0 0 2px 2px rgba(0, 0, 0, 0.02) inset);
  border: 1px solid $border-color;
  padding: 5px 10px;
  max-width: 100%;
  &:focus, &:active, &:hover{
    outline: none;
  }
}

textarea{
  width: 100%; 
}

input, textarea, select{
  &:focus, &:active, &:hover{
    outline: none;
  }
}
.wp-caption{
  margin-top: 10px;
  margin-bottom: 10px; 
  max-width: 100%;
  img{
    margin-bottom: 10px;
  }
  .wp-caption-text{
    font-weight: 600;
  }
}
.aligncenter{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.alignleft{
  text-align: left;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.alignright{
  text-align: right;
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}
.category-alignment{

}

//WordPres Block
.wp-block-image, .wp-block-gallery, .wp-block-embed{
  margin: 15px 0;
}
.wp-block-categories{
  padding-left: 0;
  list-style: none;
}

.link-pages{
  float: left;
  width: 100%;
}
.page-links{
  font-weight: 600;
  > a, > span:not(.page-links-title){
    padding: 2px 12px;
    background: $theme-color;
    line-height: 38px;
    text-align: center;
    color: $white;
    @include transition(all 0.35s);
    &:hover{
      background: lighten($theme-color, 15%);
    }
  }
  > span:not(.page-links-title){
    background: lighten($theme-color, 15%);
  } 
}

#wp-calendar{
  width: 100%;
  margin-bottom: 0;
  caption{
    font-weight: 600;
  }
  td,th{
    padding: 5px;
    text-align: center;
  }
  caption{
    margin-bottom: 10px;
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 0px !important;
    }
  }
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-color: $table-border-color;
        border-width: 1px 1px 1px 0;
        border-style: solid;
      }
      > th{
        color: $black;
        font-weight: 600;
        word-wrap: normal;
        &.views{
          min-width: 120px;
        }
      } 
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
      color: $black;
      white-space: nowrap;
    }
  }
}

.no-padding{
  padding: 0!important;
}

a.disable{
  pointer-events: none;
  cursor: default;
}
ul, ol{
  padding-left: 20px;
  li i{
    margin-right: 3px;
  }
  &.medium{
    list-style-type: none;
    padding-left: 0;
    > li{
      line-height: 24px;
      font-size: 13px;
      margin-bottom: 5px;
    }
  }
}
ul.feature-list, ul.list-style-1{
  margin-top: 30px;
  padding-left: 20px;
  margin-top: 10px;
  > li{
    list-style-type: none;
    padding-left: 30px;
    position: relative;
    margin-bottom: 5px;
    &:after{
      content: "\e906";
      font-family: "gva-icon";
      position: absolute;
      top: 2px;
      left: 2px;
      z-index: 1;
      color: $theme-color;
    }
  }
}
ul.list-style-2{
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li{
    color: $theme-color;
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 500;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
ul.inline{
  padding: 0;
  margin: 0;
  > li{
    float: left;
    margin-right: 15px;
    list-style: none;
    &:last-child{
      margin-right: 0;
    }
  }
}


/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/************************* Pagination ************************/
.pager{
  .paginations{
    display: inline-block;
    a{
      font-size: 14px;
      background: $white;
      color: $black;
      font-weight: 600;
      padding: 0 15px 0 15px;
      line-height: 34px;
      position: relative;
      z-index: 9;
      display: inline-block;
      @include transition(all 0.35s!important);
      text-decoration: none;
      border: none;
      margin-right: 10px;
      border: 2px solid $border-color;
      &:hover{
        color: $theme-color;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        border-color: $theme-color;
      }
      &.active{
        background: $theme-color;
        border-color: $theme-color;
        color: $white;
      }
    }
  }
}

.woocommerce .pager{
  .pages{
    > *{
      border: 1px solid $border-color;
      font-weight: 600;
      display: inline-block;
      @include size(36px, 36px);
      @include border-radius(6px);
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      font-size: 14px;
      color: #888888;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        color: #242424;
        border-color: #242424;
        text-decoration: -moz-anchor-decoration;
      }
    }
    span{
      color: #242424;
      text-decoration: -moz-anchor-decoration;
      border-color: #242424;
    }
  }
}

//float
.pull-right{float: right!important;}
.pull-left{float: left!important;}

//Margin
.margin-1{
  margin-top: -60px;
  @include media-breakpoint-down(md){
    margin-top: 30px;
  }
}
.margin-bottom-0{margin-bottom: 0!important;}
.margin-bottom-10{margin-bottom: 10px!important;}
.margin-bottom-20{margin-bottom: 20px!important;}
.margin-bottom-30{margin-bottom: 30px!important;}
.margin-bottom-40{margin-bottom: 40px!important;}
.margin-bottom-50{margin-bottom: 50px!important;}
.margin-bottom-60{margin-bottom: 60px!important;}
.margin-bottom-70{margin-bottom: 70px!important;}
.margin-bottom-80{margin-bottom: 80px!important;}
.margin-bottom-90{margin-bottom: 90px!important;}
.margin-bottom-100{margin-bottom: 100px!important;}

.margin-top-0{margin-top: 0!important;}
.margin-top-10{margin-top: 10px!important;}
.margin-top-20{margin-top: 20px!important;}
.margin-top-30{margin-top: 30px!important;}
.margin-top-40{margin-top: 40px!important;}
.margin-top-50{margin-top: 50px!important;}
.margin-top-60{margin-top: 60px!important;}
.margin-top-70{margin-top: 70px!important;}
.margin-top-80{margin-top: 80px!important;}
.margin-top-90{margin-top: 90px!important;}
.margin-top-100{margin-top: 100px!important;}


.margin-right-0{margin-right: 0!important;}
.margin-right-10{margin-right: 10px!important;}
.margin-right-20{margin-right: 20px!important;}
.margin-right-30{margin-right: 30px!important;}
.margin-right-40{margin-right: 40px!important;}
.margin-right-50{margin-right: 50px!important;}
.margin-right-60{margin-right: 60px!important;}
.margin-right-70{margin-right: 70px!important;}
.margin-right-80{margin-right: 80px!important;}
.margin-right-90{margin-right: 90px!important;}
.margin-right-100{margin-right: 100px!important;}

.margin-left-0{margin-left: 0!important;}
.margin-left-10{margin-left: 10px!important;}
.margin-left-20{margin-left: 20px!important;}
.margin-left-30{margin-left: 30px!important;}
.margin-left-40{margin-left: 40px!important;}
.margin-left-50{margin-left: 50px!important;}
.margin-left-60{margin-left: 60px!important;}
.margin-left-70{margin-left: 70px!important;}
.margin-left-80{margin-left: 80px!important;}
.margin-left-90{margin-left: 90px!important;}
.margin-left-100{margin-left: 100px!important;}

//Padding
.padding-bottom-10{padding-bottom: 10px!important;}
.padding-bottom-20{padding-bottom: 20px!important;}
.padding-bottom-30{padding-bottom: 30px!important;}
.padding-bottom-40{padding-bottom: 40px!important;}
.padding-bottom-50{padding-bottom: 50px!important;}
.padding-bottom-60{padding-bottom: 60px!important;}
.padding-bottom-70{padding-bottom: 70px!important;}
.padding-bottom-80{padding-bottom: 80px!important;}
.padding-bottom-90{padding-bottom: 90px!important;}
.padding-bottom-100{padding-bottom: 100px!important;}

.padding-top-10{padding-top: 10px!important;}
.padding-top-20{padding-top: 20px!important;}
.padding-top-30{padding-top: 30px!important;}
.padding-top-40{padding-top: 40px!important;}
.padding-top-50{padding-top: 50px!important;}
.padding-top-60{padding-top: 60px!important;}
.padding-top-70{padding-top: 70px!important;}
.padding-top-80{padding-top: 80px!important;}
.padding-top-90{padding-top: 90px!important;}
.padding-top-100{padding-top: 100px!important;}


.padding-50{
  padding: 50px!important;
  @include media-breakpoint-down(md){
    padding: 30px!important;
  }
}
.padding-40{
  padding: 40px!important;
}
.padding-30{
  padding: 30px!important;
}
.padding-20{
  padding: 20px!important;
}

.padding-responsive{
  padding: 30px 120px;
  @include media-breakpoint-down(md){
    padding: 30px;
  }
}
  
.special-margin-top{
  margin-top: -100px; 
  @include media-breakpoint-down(md){
    margin-top: 30px;
  }
}

.special-margin-top-2{
  margin-top: -120px; 
  @include media-breakpoint-down(md){
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

//background
.no-bg{
  background: transparent!important;
}
.bg-theme{
  background: $theme-color!important;
}
.bg-theme-2{
  background: $theme-color-2!important;
}
.bg-dark{
  background: #222!important;
}
.bg-white{
  background: $white!important;
}
.bg-center{
  background-position: center center!important;
  background-repeat: no-repeat;
}
.bg-left{
  background-position: center left!important;
  >.vc_column-inner{
    background-position: center left!important;
  }
}
.bg-right{
  background-position: center right!important;
  >.vc_column-inner{
    background-position: center right!important;
  }
}
.vc_wpb_row_inner.bg-bottom{
  background-position: bottom center!important;
  background-repeat: no-repeat!important;
}
//border
.no-border{
  border: none!important;
}
.radius-1x{
  @include border-radius(3px);
}
.radius-2x{
  @include border-radius(5px);
}
.radius-5x{
  @include border-radius(50%);
}
.border-1{
  border: 1px solid $border-color!important;
}
.border-2{
  border: 2px solid $border-color;
}
.border-3{
  border: 3px solid $border-color;
}
.border-4{
  border: 4px solid $border-color;
}
.border-5{
  border: 5px solid $border-color;
}

.hidden{
  display: none!important;
}
.over-hidden{
  overflow: hidden;
}

.pstatic{
  position: static!important;
}

.prelative{
  position: relative!important;
}

.text-white{
  color: $white!important;
  *{
    color: $white!important;
  }
}
.text-black{
  color: $black;
}
.text-theme{
  color: $theme-color!important;
}
.text-theme-2, .text-theme-second{
  color: $theme-color-2!important;
}
.text-green{
  color: #10b73b!important;
}

.text-medium{
  font-size: 18px;
}
.text-underline{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 3px, rgba(0, 0, 0, 0) 0%);
    background-size: 1px 5px;
    background-repeat: repeat-x;
    background-position: bottom;
    text-decoration: none;
    padding-bottom: 2px;
}
.letter-spacing-1{
  letter-spacing: -1px!important;
}
.letter-spacing-2{
  letter-spacing: -2px!important;
}

.btn-theme, .btn-theme-second, .btn, .btn-white, .btn-black, .btn-give-theme, button.give-btn{
  font-size: 16px;
  text-transform: capitalize;
  background: $theme-color;
  color: #fff;
  font-weight: 600;
  padding: 0 40px;
  line-height: 52px;
  position: relative;
  z-index: 9;
  display: inline-block;
  @include transition(all 0.35s!important);
  text-decoration: none;
  border: none;
  &:hover{
    color: $white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.btn-small{
  padding: 2px 15px 2px 20px;
  line-height: 45px;
}

.btn-black{
  background: #424242;
  &:before{
    background: #424242;
  }
  &:hover{
    background: darken(#424242, 10%);
    &:before{
      background: darken(#424242, 10%);
    }
  }
}

.btn-theme-second{
  background: $theme-color-2;
  &:before{
    background: $theme-color-2;
  }
  &:hover{
    background: darken($theme-color-2, 10%);
    &:before{
      background: darken($theme-color-2, 10%);
    }
  }
}

.btn-inline{
  font-size: 12px;
  text-transform: uppercase;
  color: $theme-color;
  position: relative;
  @include transition(all 0.35s);
  font-weight: 600;
  letter-spacing: 2px;
  &:hover{
    color: $black;
    text-decoration: underline;
  }
}

.btn-white{
  background: $white;
  color: $black;
  border-color: $white;
  &:hover, &:focus, &:active,{
    background: darken($white, 12%);
    color: $black;
  }
}

input[type*="submit"]:not(.fa){
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  background: $theme-color;
  color: #fff;
  font-weight: 600;
  padding: 0 38px;
  line-height: 40px;
  position: relative;
  z-index: 9;
  display: inline-block;
  @include transition(all 0.35s);
  text-decoration: none;
  font-family: $font-family-base;
  &:hover{
    color: $white;
    background: darken($theme-color, 10%);
    cursor: pointer;
  }
}

.width-600{ max-width: 600px;margin: 0 auto!important; }
.width-700{ max-width: 700px;margin: 0 auto!important; }
.width-800{ max-width: 800px;margin: 0 auto!important; }
.width-900{ max-width: 900px;margin: 0 auto!important; }
.width-950{ max-width: 950px;margin: 0 auto!important; }
.width-1000{ max-width: 1000px;margin: 0 auto!important; }

.alert{
  position: relative;
  .alert_icon{
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  .close{
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .alert_wrapper{
    padding: 0 30px;
  }
}
.pagination{
  width: 100%;
  margin: 0;
  .pager{
    margin: 0 0 30px;
  }
  .pager_wrapper{
    border: none;
  }
}

.max-width-600{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-500{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.list-socials{
  text-align: center;
  a{
    @include transition(all 0.35s);
    float: left;
    margin-right: 25px;
    &:last-child{
      margin-right: 0;
    }
    i{
      font-size: 17px;
      color: #9E9E9E;
    }
  }
  &.white{
    a{
      &:hover{
        i{
          color: $white;
        }
      }
    }
  }
}

.socials {
  display: inline-block;
  text-align: left;
  width: 100%;
  a {
    color: $border-color;
    text-decoration: none;
    @include transition(all 0.5s ease 0s);
    margin-right: 12px;
    font-size: 14px;
    &:last-child{
      margin-right: 0;
    }
    &:hover, &:focus, &:active{
      @include opacity(0.7);
    }
    i{
      color: $white;
      @include size(32px, 32px);
      @include border-radius(50%);
      display: inline-block;
      text-align: center;
      line-height: 32px;
      font-size: 14px;
      background: $theme-color;
      @include transition(all 0.35s);
      border: 1px solid rgba(0, 0, 0, 0.06);
    }
    i.fa-facebook-square, i.fa-facebook {
      background: #3b5998;
    }
    i.fa-twitter, i.fa-twitter-square {
      background: #4099ff;
    }
    i.fa-skype {
      background: #12a5f4;
    }
    i.fa-dribbble {
      background: #ea4c89;
    }
    i.fa-linkedin-square, i.fa-linkedin {
      background: #0e76a8;
    }
    i.fa-apple {
      background: #f2f2f2;
    }
    i.fa-pinterest {
      background: #c92228;
    }
    i.fa-google-plus-square, i.fa-google-plus {
      background: #d34836;
    }
    i.fa-youtube-square, i.fa-youtube {
      background: #c4302b;
    }
    i.fa-vimeo-square, i.fa-vimeo {
      background: #4ebbff;
    }
    i.fa-tumblr-square, i.fa-tumblr {
      background: #35465c;
    }
    i.fa-xing-square, i.fa-xing {
      background: #126567;
    }
    i.fa-instagram {
      background: #e8e2d9;
    }
  }
}

.socials-2{ 
  display: inline-block;
  text-align: left;
  width: 100%;
  li{
    a {
      color: #818181;
      text-decoration: none;
      @include transition(all 0.5s ease 0s);
      margin: 0 5px;
      font-size: 14px;
      i{
        color: #818181;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        &:hover{
          color: $theme-color-2;
        }
      }
      i.fa-facebook-square, i.fa-facebook {
        &:hover{
          color: #3b5998;
        }
      }
      i.fa-twitter, i.fa-twitter-square {
        &:hover{
          color: #4099ff;
        }
      }
      i.fa-skype {
        &:hover{
          color: #12a5f4;
        }
      }
      i.fa-dribbble {
        &:hover{
          color: #ea4c89;
        }
      }
      i.fa-linkedin-square, i.fa-linkedin {
        &:hover{
          color: #0e76a8;
        }
      }
      i.fa-apple {
        &:hover{
          color: #f2f2f2;
        }
      }
      i.fa-pinterest {
        &:hover{
          color: #c92228;
        }
      }
      i.fa-google-plus-square, i.fa-google-plus {
        &:hover{
          color: #d34836;
        }
      }
      i.fa-youtube-square, i.fa-youtube {
        &:hover{
          color: #c4302b;
        }
      }
      i.fa-vimeo-square, i.fa-vimeo {
        &:hover{
          color: #4ebbff;
        }
      }
      i.fa-tumblr-square, i.fa-tumblr {
        &:hover{
          color: #35465c;
        }
      }
      i.fa-xing-square, i.fa-xing {
        &:hover{
          color: #126567;
        }
      }
      i.fa-instagram{
        &:hover{
          color: #8F49C5;
        }
      }
    }
  }
}

.fa-stack {
  width: 2.4em!important;
  height: 2.4em!important;
  line-height: 2.4em;
} 
.fa-1x{
  font-size: 1.5em!important;
}

.tabs-list{
  text-align: center;
  margin-bottom: 10px;
  ul.nav-tabs{
    display: inline-block;
    width: auto;
    float: none;
    > li{
      margin-bottom: 10px;
    }
  }
}

.pieChart{
  position: relative;
  .pie-label{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    text-align: center;
    z-index: 1;  
    font-weight: 600;
    display: block;
    width: 100%;
    line-height: 1;
  }
}
#gallery-1 img{
  border: none!important;
}


.alert-danger{
  color: #fff;
  background: $theme-color;
}