.rev_slider_wrapper{
  @include media-breakpoint-down(sm){
    .tparrows{
      display: none;
    }
  }
}

.owl-carousel, .flex-control-nav{
  position: relative;
  max-height: 300px;
  overflow: hidden;
  &:after{
    content: "";
    background: url('#{$image-theme-path-base}preloader-18.gif') no-repeat center center $white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    @include size(100%, 100%);
  }
  &.owl-loaded{
    max-height: none;
    overflow: visible;
    &:after{
      display: none!important;
    }
  }
  .owl-nav{ 
    @include opacity(0);
    > div{
      position: absolute;
      top: 50%;
      margin-top: -25px;
      z-index: 99;
      @include size(0, 0);
      line-height: 38px;
      text-align: center;
      @include opacity(0.3);
      @include transition(all 0.35s);
      color: $white;
      
      i{
        margin: 0;
        font-size: 16px;
        display: none;
      }
      &.disabled{
        @include opacity(0.3);
      }
      &.owl-prev{
        left: -10px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 16px solid #000;
      }
      &.owl-next{
        right: -10px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid #000;
      }
      &:hover, &:focus{
        @include opacity(1);
        cursor: pointer;
        color: $white;
      }
    }
  }
  .owl-dots{
    margin-top: 25px;
    width: 100%;
    text-align: center;
    line-height: 1;
    .owl-dot{
      display: inline-block;
      margin: 0 3px;
      position: relative;
      border: none;
      padding: 0;
      width: 0px;
      height: 0px;
      @include opacity(0.3);
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #000;
      background: none;
      &.active{
        @include opacity(1);
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
   &:hover{
    .owl-nav{
      @include opacity(1);
      > div{
        &.disabled{
          @include opacity(0.6);
          pointer: disabled;
          color: $black;
          &:hover{
            cursor: no-drop;
          }
        }
      }
    }   
   }
} 

.header-builder-frontend{
  .owl-carousel{
    max-height: 30px;
    overflow: hidden;
    &.owl-loaded{
      max-height: none;
    }
  }
}

.owl-carousel .owl-item img{
   width: auto!important;
   max-width: 100%;
   display: inline-block;
   transform-style: unset!important;
   -webkit-transform-style: unset!important;
   -o-transform-style: unset!important;
   -ms-transform-style: unset!important;
}

 .owl-carousel{
    margin: 0 -15px;
    width: auto!important;
    .owl-item{
      padding-left: 15px;
      padding-right: 15px;
    }
    &.dot-left{
      .owl-dots{
        position: absolute;
        width: 50px;
        left: -50px;
        top: 50%;
        transform: translate(0, -50%);
        .owl-dot{
          display: block;
          margin-bottom: 10px;
        }
      }
    }
    &.dot-right{
      .owl-dots{
        position: absolute;
        width: 50px;
        right: -50px;
        top: 50%;  
        transform: translate(0, -50%);
        .owl-dot{
          display: block;
          margin-bottom: 10px;
        }
      }
    }
    &.dot-bottom-left{
      .owl-dots{
        margin-top: 20px;
        text-align: left;
      }
    }
    &.dot-bottom-right{
      .owl-dots{
        margin-top: 20px;
        text-align: right;
      }
    }
    &.dot-bottom-center{
      .owl-dots{
        margin-top: 20px;
        float: none;
        text-align: center;
      }
    }
 }

 .init-carousel-owl-theme{
  &.owl-carousel .owl-nav > div.owl-prev, .flex-control-nav .owl-nav > div.owl-prev{
    left: 0;
  }
  &.owl-carousel .owl-nav > div.owl-next, .flex-control-nav .owl-nav > div.owl-next{
    right: 0;
  }
}

ul.nav-tabs{  
  overflow: hidden;
  display: inline-block;
  > li{
    white-space: nowrap; 
    display: inline-block;
    > a{
      margin: 0 6px;
      background: $nocolor;
      padding: 8px 15px;
      font-size: 13px;
      font-weight: 600;
      @include border-radius(5px);
      &:hover, &:focus, &:active{
        color: $theme-color;
      }
    }  
    &.active{
      > a{
        background: $theme-color!important;
      }
    }
   }
}

.service-icon{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  @include transition(all 0.35s);
  text-transform: uppercase;
  .icon{
    font-size: 22px;
    @include size(35px, auto);
    display: inline-block;
    text-align: left;
    float: left;
    margin-top: 3px;
  }
  &:hover{
    color: $white;
  }
}

.btn-slider-white{
  background: $white;
  color: $theme-color;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  @include transition(all 0.35s);
  @include media-breakpoint-down(md){
    padding: 6px 10px;
    font-size: 12px;
  }
  &:hover, &:focus, &:active{
    background: $theme-color;
    color: $white;
  }
} 

.intro-about{
  .heading{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #aaaaaa;
  }
  .dropcap{
    &:first-child:first-letter { 
      float: left;
      color: $white;
      font-size: 36px;
      line-height: 36px;
      display: inline-block;
      font-weight: 400;
      @include size(60px, 60px);
      margin: 10px 10px 0 5px;
      padding: 15px;
      background: #262626;
    }
  }
}

#gva-filter-overlay, #gva-overlay{
  position: fixed;
  @include size(100%, 100%);
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  &.open{
    display: block;
  }
  &:hover{
    cursor: pointer;
  }
}

#fp-nav{
  ul > li > a{
    span{
      background: #ccc!important;
    }
    &.active{
      span{
        background: #858585!important;
      }
    }
  }
}

/* perfect-scrollbar v0.6.7 */
.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important; }
  .ps-container.ps-active-x > .ps-scrollbar-x-rail,
  .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block; }
  .ps-container.ps-in-scrolling {
    pointer-events: none; }
    .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    border-radius: 4px;
    @include opacity(0);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    bottom: 3px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px; }
    .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 4px;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      bottom: 0;
      /* there must be 'bottom' for ps-scrollbar-x */
      height: 8px; }
  .ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    border-radius: 4px;
    @include opacity(0);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    right: 3px;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 4px; }
    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 4px;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      right: 0;
      /* there must be 'right' for ps-scrollbar-y */
      width: 5px; }
  .ps-container:hover.ps-in-scrolling {
    pointer-events: none; }
    .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container:hover > .ps-scrollbar-x-rail,
  .ps-container:hover > .ps-scrollbar-y-rail {
    @include opacity(.6); }
  .ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    @include opacity(.6); }
    .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    @include opacity(.6); }
    .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
      background-color: #999; }
